<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>


    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/menu.css" rel="stylesheet">
    <link href="stylesheets/home.css" rel="stylesheet">
    <link href="stylesheets/chat.css" rel="stylesheet">


    <script src="javascripts/init.js"></script>
    <script src="javascripts/nav.js"></script>
    <script src="javascripts/menu.js"></script>
    <script src="javascripts/socket.js"></script>
    <script src="javascripts/home.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-159663907-1', 'auto');
        ga('require','GTM-562NVJZ');
        ga('send', 'pageview');
    </script>
</head>
<body>
<%- include ('popUp.ejs') %>
<div class="index">
    <%- include ('top.ejs') %>
    <div id="alert-placeholder">
        <div class="alert alert-warning" style="display: block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Is this page helpful?</strong>
            <button type="button" class="btn btn-success"
                    onclick="ga('send','event','buttonClick','click');$('#alert-placeholder').html('');"
                    style="font-size: x-large"
            >Yes</button>
        </div>
    </div>
    <div class="middle" id="middle">
            <div class="first-level container">
                <div id="home-intro">
                    Choose A Problem:
                </div>
                <div class="input-group mb-3" id="home-search-1">
                    <input type="text" class="search form-control" placeholder="Search..." onkeydown="searchIntro(event)" >
                    <div class="intro-items">
                        <% for(var i=0; i < data.length; i++) { %>
                        <div class="intro-item">
                            <div class="intro-first" onclick="clickHome('<%=data[i].event%>')">
                                <img src=<%=data[i].img%>>
                                <%=data[i].name%>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
    </div>
    <nav class="bottom">
        <div id="icon-0" onclick="clickNav(0)">
            <img src="images/home-active.png"  class= "icon-que" alt=""/>
            <div class="nav-text">Home</div>
        </div>
        <div id="icon-1" onclick="clickNav(1)">
            <img src="images/que.png" class="icon-ans" alt=""/>
            <div class="nav-text">Q&A</div>
        </div>
        <div id="icon-2" onclick="clickNav(2)">
            <img src="images/profile.png" class="icon-loc" alt=""/>
            <div class="nav-text">Profile</div>
        </div>
    </nav>
</div>
<%- include ('chat.ejs') %>
</body>
</html>
