<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nearby</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>


    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/menu.css" rel="stylesheet">
    <link href="stylesheets/nearby.css" rel="stylesheet">
    <link href="stylesheets/chat.css" rel="stylesheet">


    <script src="javascripts/init.js"></script>
    <script src="javascripts/nav.js"></script>
    <script src="javascripts/menu.js"></script>
    <script src="javascripts/nearby.js"></script>

</head>
<body>
<div class="pop-up">
    <div class="pop-up-avatar">
        <img src="images/user-default.png" id="pop-up-avatar" alt="Avatar">
        Unknown User
    </div>
    <div class="profile-more-info">
        <div class="profile-name">username:<%= username%></div>
        <div class="profile-experience">userExperience:<%= userExperience%></div>
        <div class="profile-skills">userSkills:<%= userSkills%></div>
        <div class="profile-car-country">carCountry:<%= carCountry%></div>
        <div class="profile-car-brand">carBrand:<%= carBrand%></div>
        <div class="profile-car-model">carModel:<%= carModel%></div>
    </div>
    <div class="pop-up-other">
        <div class="settings" onclick="clickSettings()">
            <img src="images/settings.png" id="settings" alt=""/>
            Settings
        </div>
        <div class="help" onclick="clickHelp()">
            <img src="images/help.png" id="help" alt=""/>
            Help
        </div>
        <div class="contact" onclick="clickContact()">
            <img src="images/contact.png" id="contact" alt=""/>
            Contact Us
        </div>
        <div class="log-out" onclick="clickLogout()">
            <img src="images/logout.png" id="log-out"  alt=""/>
            Log out
        </div>
    </div>
</div>
<div class="index">
    <div class="top">
        <img src="images/user-default.png" alt="Avatar" id="avatar" onclick="clickMenu()">
    </div>
    <div class="middle" id="middle">
        <div id="middle-nearby">
            <div class="nearby-search container">
                <div class="input-group mb-3" id="searchPanel">
                    <button type="button" class="btn" data-toggle="collapse" data-target="#sites-choice">
                        Places
                    </button>
                    <input type="text" class="form-control" value="gas station" onkeydown="searchByInput(event)">
                </div>
                <div id="sites-choice" class="collapse">
                    <div class="row">
                        <img src="images/gas-station.png" onclick="searchByChoose('gas station')" alt=""/>
                        <img src="images/charger.png" onclick="searchByChoose('charger')" alt=""/>
                        <img src="images/park.png" onclick="searchByChoose('parking lot')" alt=""/>
                        <img src="images/car-care.png" onclick="searchByChoose('car care')" alt=""/>
                    </div>
                    <div class="row">
                        <img src="images/car-repair.png" onclick="searchByChoose('car repair')" alt=""/>
                        <img src="images/car-shop.png" onclick="searchByChoose('car shop')" alt=""/>
                        <img src="images/dmv.png" onclick="searchByChoose('dmv')" alt=""/>
                        <img src="images/police.png" onclick="searchByChoose('police')" alt=""/>
                    </div>
                </div>
            </div>
            <div id="googleMap"></div>
        </div>

    </div>
    <nav class="bottom">
        <div id="icon-0" onclick="clickNav(0)">
            <img src="images/home.png"  class= "icon-que" alt=""/>
        </div>
        <div id="icon-1" onclick="clickNav(1)">
            <img src="images/que.png" class="icon-ans" alt=""/>
        </div>
        <div id="icon-2" onclick="clickNav(2)">
            <img src="images/loc-active.png" class="icon-loc" alt=""/>
        </div>
<!--        <div id="icon-3" onclick="clickNav(3)">-->
<!--            <img src="images/article.png" class="icon-search" alt=""/>-->
<!--        </div>-->
    </nav>
</div>
<div class="chatroom">
    <div class="chatroom-top">
        <img src="images/close-sq.png">
        <div class="chatroom-title">chatroom</div>
    </div>
    <div class="chatroom-body">

    </div>
    <div class="chatroom-bottom">
        <div class="input-group mb-3">
            <input type="text" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="chatroom-send">Send</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
