<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>


    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/menu.css" rel="stylesheet">
    <link href="stylesheets/profile.css" rel="stylesheet">
    <link href="stylesheets/chat.css" rel="stylesheet">


    <script src="javascripts/init.js"></script>
    <script src="javascripts/navA.js"></script>
    <script src="javascripts/menu.js"></script>
    <script src="javascripts/socket.js"></script>
</head>
<body>
<%- include ('popUp.ejs') %>
<div class="index">
    <%- include ('top.ejs') %>
    <div id="alert-placeholder">
    </div>
    <div class="middle" id="middle">
            <div class="profile container">
                <div id="profile-name">
                    <img src="user-data/<%= userAvatar%>" class="profile-imgs" id="user-img">
                    <div><%= username%></div>
                </div>
                <div id="profile-user-coins" class="card">
                    <img src="images/coins.png" class="profile-imgs">
                    Coins: <%= userCoins%>
                </div>
                <% if (userExpert==='checked') { %>
                    <div id="profile-experience" class="card">
                        <img src="images/user-experience.png" class="profile-imgs">
                        Experience: <%= userExperience%> years
                    </div>
                    <div id="profile-skills" class="card" >
                        <img src="images/user-skills.png" class="profile-imgs">
                        Skills: <%= userSkills%>
                    </div>
                <% } %>
                <% if (userQuestioner==='checked') { %>
                    <div id="profile-car-brand" class="card">
                        <img src="images/car-brand.png" class="profile-imgs">
                        Car Make: <%= carBrand%>
                    </div>
                    <div id="profile-car-model" class="card">
                        <img src="images/car-model.png" class="profile-imgs">
                        Car Model: <%= carModel%>
                    </div>
                <% } %>
            </div>
    </div>
    <nav class="bottom">
        <div id="icon-0" onclick="clickNav(0)">
            <img src="images/home.png"  class= "icon-que" alt=""/>
            <div class="nav-text">Home</div>
        </div>
        <div id="icon-1" onclick="clickNav(1)">
            <img src="images/que.png" class="icon-ans" alt=""/>
            <div class="nav-text">Q&A</div>
        </div>
        <div id="icon-2" onclick="clickNav(2)">
            <img src="images/profile-active.png" class="icon-loc" alt=""/>
            <div class="nav-text">Profile</div>
        </div>
    </nav>
</div>
<%- include ('chat.ejs') %>
</body>
</html>
