<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<!--    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">-->
    <link rel="icon" href="images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
<!--    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>-->
    <script src="javascripts/wavebell.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <!--    <script src="https://unpkg.com/wavesurfer.js"></script>-->


    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/menu.css" rel="stylesheet">
    <link href="stylesheets/question.css" rel="stylesheet">
    <link href="stylesheets/answer.css" rel="stylesheet">
    <link href="stylesheets/chat.css" rel="stylesheet">

    <script src="javascripts/init.js"></script>
    <script src="javascripts/nav.js"></script>
    <script src="javascripts/menu.js"></script>
    <script src="javascripts/question.js"></script>

</head>
<body>
<div class="pop-up">
    <div class="pop-up-avatar">
        <div>
        <img src="images/user-default.png" id="pop-up-avatar" alt="Avatar">
        Unknown User
        </div>
    </div>
    <div class="profile-more-info">
        <div class="profile-name">username:<%= username%></div>
        <div class="profile-experience">userExperience:<%= userExperience%></div>
        <div class="profile-skills">userSkills:<%= userSkills%></div>
        <div class="profile-car-country">carCountry:<%= carCountry%></div>
        <div class="profile-car-brand">carBrand:<%= carBrand%></div>
        <div class="profile-car-model">carModel:<%= carModel%></div>
    </div>
    <div class="pop-up-other">
        <div class="settings" onclick="clickSettings()">
            <img src="images/settings.png" id="settings" alt=""/>
            Settings
        </div>
        <div class="help" onclick="clickHelp()">
            <img src="images/help.png" id="help" alt=""/>
            Help
        </div>
        <div class="contact" onclick="clickContact()">
            <img src="images/contact.png" id="contact" alt=""/>
            Contact Us
        </div>
        <div class="log-out" onclick="clickLogout()">
            <img src="images/logout.png" id="log-out"  alt=""/>
            Log out
        </div>
    </div>
</div>
<div class="index">
    <div class="top">
        <img src="images/user-default.png" alt="Avatar" id="avatar" onclick="clickMenu()">Unknown User
    </div>
    <div class="middle" id="middle">
        <div id="middle-question">
            <div class="question-body">
                <ul id="myTab" class="nav nav-pills justify-content-center">
                    <li class="nav-item" id="question-item">
                        <a class="nav-link active" data-toggle="pill" href="#question" id="question-link">question</a>
                    </li>
                    <li class="nav-item" id="answer-item">
                        <a class="nav-link" data-toggle="pill" href="#answer" id="answer-link">answer</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active" id="question">
                        <div class="part">
                            Choose problem type:
                            <input type="text" class="parts-input form-control" list="parts-select"/>
                            <datalist id="parts-select">
                                <option>DashBoard Light</option>
                                <option>Strange Smell</option>
                                <option>Emitting Smoke</option>
                                <option>Weird Sound</option>
                                <option>Car Shaking</option>
                            </datalist>
                        </div>
<!--                        <div class="keywords">-->
<!--                            Describe your question using few keywords so we can find a best match for you:-->
<!--                            <input type="text" class="keywords form-control">-->
<!--                        </div>-->
                        <div class="title">
                            Describe your question using few keywords so we can find a best match for you:
                            <input type="text" class="question-title form-control">
                        </div>
<!--                        <div class="accessories">-->
<!--                            Choose accessory(s) that have problem(s):-->
<!--                            <input type="text" class="accessories-input form-control" list="accessories-select"/>-->
<!--                            <datalist id="accessories-select">-->
<!--                                <option>Audio/video devices</option>-->
<!--                                <option>Cameras</option>-->
<!--                                <option>Low voltage electrical supply system</option>-->
<!--                                <option>Gauges & meters</option>-->
<!--                                <option>Ignition system</option>-->
<!--                                <option>Lighting & signaling system</option>-->
<!--                                <option>Sensors</option>-->
<!--                                <option>Starting system</option>-->
<!--                                <option>Electrical switches</option>-->
<!--                                <option>Wiring harnesses</option>-->
<!--                                <option>Miscellaneous</option>-->
<!--                                <option>other</option>-->
<!--                            </datalist>-->
<!--                        </div>-->
                        <div class="upload">
                            <div>Tell us about your question:</div>
                            <textarea class="upload-box form-control" id='question-text' rows="15"></textarea>
<!--                            <div><img src="images/add.png" id="upload" onclick="clickUpload()">    :2 files uploaded!</div>-->
                        </div>
                        <div class="ask-expert">
                            <div class="choose-experts">
                                Choose an expert to answer your question:
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" list="friends-list" id="question-expert-name">
                                    <datalist id="friends-list">
                                        <option>sahba</option>
                                        <option>ivan</option>
                                        <option>aaron</option>
                                    </datalist>
                                    <button class="btn btn-primary" type="button" id="expert-save">Save</button>
                                </div>
                                <div class="expert-list">
                                    <span class="badge" id="expert-record-save">
                                            <div id="expert-name">
                                            You choose expert:
                                            </div>
                                            <span class="badge align-top">
                                                    <img src="images/close.png" id="expert-remove">
                                            </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button class="btn submit" type="button">Submit Question</button>
                    </div>
                    <div class="tab-pane fade" id="answer">
                            <div>Questions you have received:</div>
                            <div id="expert-search" >
<!--                                <div class="input-group mt-3 mb-3">-->
<!--                                    <input type="text" class="form-control" id="search-expert">-->
<!--                                    <div class="input-group-prepend">-->
<!--                                        <button type="button" class="btn btn-outline-prepend dropdown-toggle" data-toggle="dropdown">-->
<!--                                            Sort By-->
<!--                                        </button>-->
<!--                                        <div class="dropdown-menu">-->
<!--                                            <div class="dropdown-item" >Relate Ascend</div>-->
<!--                                            <div class="dropdown-item" >Relate Descend</div>-->
<!--                                            <div class="dropdown-item" >Payment Ascend</div>-->
<!--                                            <div class="dropdown-item" >Payment Descend</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="notifs"></div>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
    </div>
    <nav class="bottom">
        <div id="icon-0" onclick="clickNav(0)">
            <img src="images/home.png"  class= "icon-que" alt=""/>
        </div>
        <div id="icon-1" onclick="clickNav(1)">
            <img src="images/que-active.png" class="icon-ans" alt=""/>
        </div>
        <div id="icon-2" onclick="clickNav(2)">
            <img src="images/loc.png" class="icon-loc" alt=""/>
        </div>
<!--        <div id="icon-3" onclick="clickNav(3)">-->
<!--            <img src="images/article.png" class="icon-search" alt=""/>-->
<!--        </div>-->
    </nav>
</div>
<div class="chatroom">
    <div class="chatroom-top">
        <img src="images/close-sq.png" id="chatroom-leave">
        <div class="chatroom-title">chatroom</div>
    </div>
    <div class="chatroom-body">
    </div>
    <div class="chatroom-bottom">
        <div class="input-group mb-3">
            <input type="text" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="chatroom-send">Send</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
