<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>


    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/menu.css" rel="stylesheet">
    <link href="stylesheets/home.css" rel="stylesheet">
    <link href="stylesheets/chat.css" rel="stylesheet">

    <script src="javascripts/init.js"></script>
    <script src="javascripts/socket.js"></script>
    <script src="javascripts/nav.js"></script>
    <script src="javascripts/menu.js"></script>
    <script src="javascripts/home.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-159663907-1', 'auto');
        ga('require','GTM-562NVJZ');
        ga('send', 'pageview');
    </script>

</head>
<body>
<%- include ('popUp.ejs') %>
<div class="index">
    <%- include ('top.ejs') %>
    <div id="alert-placeholder">
    </div>
    <div class="middle" id="middle">
            <div class="second-level container">
                <div class="home-back" style="font-size:xx-large" onclick="clickHomeBack()">
                    <img src="images/back.png">
                    Back
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search..." onkeydown="searchIntro(event)">
                    <div class="intro-items">
                        <% for(var i=0; i < children.length; i++) { %>
                        <div class="intro-second"  onclick="clickHome('<%=children[i].event%>')">
                            <img src=<%=children[i].img%>>
                            <%=children[i].name%>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
    </div>
    <%- include ('bottom.ejs') %>
</div>
<%- include ('chat.ejs') %>
</body>
</html>


