<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>


    <link href="stylesheets/index.css" rel="stylesheet">
    <link href="stylesheets/menu.css" rel="stylesheet">
    <link href="stylesheets/home.css" rel="stylesheet">
    <link href="stylesheets/chat.css" rel="stylesheet">

    <script src="javascripts/init.js"></script>
    <script src="javascripts/socket.js"></script>
    <script src="javascripts/nav.js"></script>
    <script src="javascripts/menu.js"></script>
    <script src="javascripts/home.js"></script>

</head>
<body>
<%- include ('popUp.ejs') %>
<div class="index">
    <%- include ('top.ejs') %>
    <div id="alert-placeholder">
    </div>
    <div class="middle" id="middle">
        <div id="middle-home">
            <div class="container">
                <div class="home-back" style="font-size:xx-large" onclick="clickHomeBack2()">
                    <img src="images/back.png">
                    Back
                </div>
                <div class="input-group mb-3">
                    <div class="intro-details">
                        <div class="intro-third" style="font-size:50px">
                            <img src=<%=img%>>
                            <strong><%=name%></strong>
                        </div>
                        <div class="intro-detail">
                            <%-detail.replace('\n', '<br>')%>
                        </div>
                        <div>
                            <h4 style="margin-top: 2vh;">FAQ:</h4>
                        </div>
                        <% for(var i=0; i < faq.length; i++) { %>
                        <div><strong>q:</strong><%-faq[i].question.replace('\n', '<br>')%></div>
                        <div><strong>a:</strong><%-faq[i].answer.replace('\n', '<br>')%></div>
                        <br />
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('bottom.ejs') %>
</div>
<%- include ('chat.ejs') %>
</body>
</html>


